body {
  font-family: "Open-Sans", sans-serif;
}
h1,h2,h3, .card-body > .card-title {
font-family: "Lobster", cursive;
}
/* Besides for h1,h2,h3, the above style will set up the desired font to be used only on elements which have the card-title className, that are direct children of elements that have the card-body className*/
.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}
h2 {
  color: #3046C5;
}
.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
/*Above we are selecting only the card-title items that are inside(are childern of) card-img-overlay items*/


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar-dark {
  background-color: #901CAD;
}

/*Adding css for transition-the following 4 classes will help to implement a fade effect. The first 2 describe the transition that will happen when a component is mounted.
It will start with opacity of 0 and the over 300ms will transition to opacity of 1. Ease-out means that it will start out fast but then it will decelerate.
The transform: translateX(-100%) means the components will start moving on the page from the left to the right until they reach a  normal position with translateX(0%).
The next 2 classes will describe the transition that happens when a component is being unmounted. It will start with opacity of 1 and it will transition to opacity of 0 over 300ms. Ease-in means it will start slow and then accelerate.*/

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 500ms ease-out;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: 500ms ease-in;
}